* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
}
html,
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  /* text-rendering: optimizeLegibility !important; */
  /* -webkit-font-smoothing: antialiased !important; */
  background: #0a0016;
  color: #fff;
}
#app {
  justify-content: center;
  align-items: center;
}
